.advice {
  background-color: var(--nav-bg-color);
}
.advice-container {
  padding-top: 125px;
  padding-bottom: 101px;
}
.advice-container h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #252b42;
}
.advice-container > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}
.content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 45px;
}
.content {
  background-color: #fff;
  width: 230px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.text {
  padding: 30px;
}
.text h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
}
.text p {
  margin-top: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.img {
  padding: 0;
  margin: 0;
}
.content:hover {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 416px) {
  .advice {
    padding-bottom: 83px;
    padding-left: 90px;
    padding-right: 90px;
  }
  .content {
    margin-top: 30px;
  }
}
